<!DOCTYPE html>
<html>
<head>
  <title>Gitux</title>
</head>
<body>
  <div id="<%- reactWrapperId %>"><div><%- initialComponent %></div></div>
  <script>window.__INITIAL_STATE__ = <%-JSON.stringify(initialState)%></script>
  <script src="<%- assetsBaseUrl %>/bundle.js"></script>
</body>
</html>